{% load static %}

<div id="tutorverse-preloader">
    <div class="tutorverse-book-loader">

        <div class="tutorverse-book">
            <div class="tutorverse-page tutorverse-left-page"></div>
            <div class="tutorverse-page tutorverse-right-page"></div>
        </div>

        <div class="tutorverse-loader-text">
            Tutorverse
        </div>

    </div>
</div>


<!-- START NAVBAR -->
<div id="navigation" class="navbar-light bg-faded site-navigation">

    <div class="container-fluid">

        <div class="row">

            <!-- LOGO -->
          <div class="col-20 align-self-center">

    <div class="site-logo tutorverse-logo">

        <a href="{% url 'home' %}" class="tutorverse-logo-link">

            <img
                src="{% static 'assets/img/tutor.png' %}"
                alt="Tutorverse"
                class="tutorverse-logo-image"
            >

        </a>

    </div>

</div>
            <!-- END LOGO -->


            <!-- MAIN MENU -->
            <div class="col-60 d-flex">

                <nav id="main-menu">

                    <ul>

                        <!-- HOME -->
                        <li>
                            <a href="{% url 'home' %}">
                                Home
                            </a>
                        </li>


                        <!-- ABOUT -->
                       <li>
                       <a href="{% url 'about' %}">About</a>
                       </li>

                        <!-- COURSES -->
                        <li class="menu-item-has-children">

                            <a href="{% url 'course_list' %}">
                                Courses
                            </a>

                            <ul>

                                <li>
                                    <a href="{% url 'course_list' %}">
                                        All Courses
                                    </a>
                                </li>

                                <!--
                                Course Details should NOT be here.

                                A course detail page requires a course ID,
                                for example:

                                /courses/1/

                                Students reach it by clicking a specific
                                course from the course list.
                                -->

                            </ul>

                        </li>


                        <!-- PAGES -->

                                <li>
                                    <a href="{% url 'browse_teachers' %}">
                                        Tutors
                                    </a>
                                </li>
                             <!-- INSIGHTS -->

                                <li>
                                    <a href="{% url 'blog_list' %}">
                                        Insights
                                    </a>
                                </li>


                                                            <!-- CONTACT -->
                                                            <li>
                                        <a href="{% url 'contact' %}">Contact</a>
                                    </li>

                                                        </ul>

                </nav>

            </div>
            <!-- END MAIN MENU -->


            <div class="col-20 d-none d-xl-block text-end align-self-center">

    {% if user.is_authenticated %}

        <!-- LOGGED IN USER -->

        <div class="user-account">

           <button
    type="button"
    class="user-account-btn"
    onclick="toggleUserMenu()"
>

    {% if user.teacherprofile and user.teacherprofile.profile_picture %}

        <!-- TEACHER PROFILE PICTURE -->

        <img
            src="{{ user.teacherprofile.profile_picture.url }}"
            alt="{{ user.username }}"
        >

    {% elif user.studentprofile and user.studentprofile.profile_picture %}

        <!-- STUDENT PROFILE PICTURE -->

        <img
            src="{{ user.studentprofile.profile_picture.url }}"
            alt="{{ user.username }}"
        >

    {% else %}

        <!-- DEFAULT AVATAR -->

        <div class="user-avatar">
            {{ user.username|first|upper }}
        </div>

    {% endif %}


    <span>
        {{ user.get_full_name|default:user.username }}
    </span>

    <i class="fa fa-angle-down"></i>

</button>


            <!-- USER DROPDOWN -->

            <div
                id="userAccountMenu"
                class="user-account-menu"
            >

                <div class="user-menu-header">

                    <strong>
                        {{ user.get_full_name|default:user.username }}
                    </strong>

                    <small>
                        {{ user.email }}
                    </small>

                </div>


                <div class="user-menu-divider"></div>


                {% if user.teacherprofile %}

                    <!-- TEACHER -->

                    <a href="{% url 'teacher_dashboard' %}">
                        <i class="fa fa-dashboard"></i>
                        Teacher Dashboard
                    </a>

                    <a href="{% url 'teacher_profile_setup' %}">
                        <i class="fa fa-user"></i>
                        My Profile
                    </a>

                    <a href="{% url 'teacher_courses' %}">
                        <i class="fa fa-book"></i>
                        My Courses
                    </a>

                    <a href="{% url 'inbox' %}">
                        <i class="fa fa-comments"></i>
                        Messages
                    </a>

                {% else %}

                    <!-- STUDENT -->

                    <a href="{% url 'student_dashboard' %}">
                        <i class="fa fa-dashboard"></i>
                        My Dashboard
                    </a>

                    <a href="{% url 'student_profile' %}">
                            <i class="fa fa-user"></i>
                            My Profile
                    </a>

                    <a href="{% url 'course_list' %}">
                        <i class="fa fa-book"></i>
                        My Courses
                    </a>

                    <a href="{% url 'inbox' %}">
                        <i class="fa fa-comments"></i>
                        Messages
                    </a>

                {% endif %}


                <div class="user-menu-divider"></div>


                <form
                    method="POST"
                    action="{% url 'logout' %}"
                    class="logout-form"
                >

                    {% csrf_token %}

                    <button type="submit">

                        <i class="fa fa-sign-out"></i>

                        Logout

                    </button>

                </form>

            </div>

        </div>


    {% else %}

        <!-- NOT LOGGED IN -->

        <a
            href="{% url 'login' %}"
            class="header-btn"
        >
            Sign In
        </a>

        <a
            href="{% url 'register' %}"
            class="btn_one"
        >
            Sign Up
        </a>

    {% endif %}

</div>

            <!-- MOBILE MENU -->
            <ul class="mobile_menu">

                <!-- HOME -->
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>


                <!-- ABOUT -->
                <li>
                   <a href="{% url 'about' %}">
                        About
                    </a>
                </li>


                <!-- COURSES -->
                <li>

                    <a href="{% url 'course_list' %}">
                        Courses
                    </a>

                    <ul class="sub-menu">

                        <li>
                            <a href="{% url 'course_list' %}">
                                All Courses
                            </a>
                        </li>

                    </ul>

                </li>


                <!-- PAGES -->
                <li>

                    <a href="{% url 'browse_teachers' %}">
                        Tutors
                    </a>

                </li>

                            <!-- INSIGHTS -->
                <li>
                    <a href="{% url 'blog_list' %}">
                        Insights
                    </a>
                </li>


                <!-- MOBILE AUTH -->

{% if user.is_authenticated %}

    {% if user.teacherprofile %}

        <li>
            <a href="{% url 'teacher_dashboard' %}">
                <i class="fa fa-dashboard"></i>
                Teacher Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'teacher_profile_setup' %}">
                <i class="fa fa-user"></i>
                My Profile
            </a>
        </li>

        <li>
            <a href="{% url 'teacher_courses' %}">
                <i class="fa fa-book"></i>
                My Courses
            </a>
        </li>

        <li>
            <a href="{% url 'inbox' %}">
                <i class="fa fa-comments"></i>
                Messages
            </a>
        </li>

    {% else %}

        <li>
            <a href="{% url 'student_dashboard' %}">
                <i class="fa fa-dashboard"></i>
                My Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'student_profile' %}">
                <i class="fa fa-user"></i>
                My Profile
            </a>
        </li>

        <li>
            <a href="{% url 'my_bookings' %}">
                <i class="fa fa-calendar"></i>
                My Bookings
            </a>
        </li>

        <li>
            <a href="{% url 'inbox' %}">
                <i class="fa fa-comments"></i>
                Messages
            </a>
        </li>

    {% endif %}

{% else %}

    <li>
        <a href="{% url 'login' %}">
            Sign In
        </a>
    </li>

    <li>
        <a href="{% url 'register' %}">
            Sign Up
        </a>
    </li>

{% endif %}

        </div>
        <!-- END ROW -->

    </div>
    <!-- END CONTAINER -->

</div>
<!-- END NAVBAR -->
 <style>

/* ==========================
   USER ACCOUNT
========================== */

.user-account {
    position: relative;
    display: inline-block;
}


/* ACCOUNT BUTTON */

.user-account-btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    padding: 7px 10px;
    color: #10145c;
    font-weight: 600;
    font-size: 14px;
}

.user-account-btn:hover {
    color: #5362e9;
}


/* AVATAR */

.user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #5362e9;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
}


.user-account-btn img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}


.user-account-btn i {
    font-size: 13px;
    margin-left: 3px;
}


/* ==========================
   DROPDOWN
========================== */

.user-account-menu {

    position: absolute;

    top: calc(100% + 12px);

    right: 0;

    width: 245px;

    background: #ffffff;

    border-radius: 10px;

    box-shadow:
        0 15px 40px rgba(0,0,0,0.12);

    padding: 10px;

    display: none;

    z-index: 9999;

    text-align: left;
}


.user-account-menu.show {
    display: block;
}


/* HEADER */

.user-menu-header {
    padding: 12px 12px 10px;
}


.user-menu-header strong {
    display: block;
    color: #10145c;
    font-size: 14px;
}


.user-menu-header small {
    display: block;
    color: #999;
    font-size: 11px;
    margin-top: 4px;
    word-break: break-word;
}


/* LINKS */

.user-account-menu a {

    display: flex;

    align-items: center;

    gap: 11px;

    padding: 10px 12px;

    border-radius: 6px;

    color: #555;

    text-decoration: none;

    font-size: 13px;

    transition: 0.2s;
}


.user-account-menu a:hover {

    background: #f2f3ff;

    color: #5362e9;

}


.user-account-menu a i {

    width: 18px;

    color: #5362e9;

}


/* DIVIDER */

.user-menu-divider {

    height: 1px;

    background: #eeeeee;

    margin: 7px 0;
}


/* LOGOUT */

.logout-form {
    margin: 0;
}


.logout-form button {

    width: 100%;

    border: none;

    background: transparent;

    display: flex;

    align-items: center;

    gap: 11px;

    padding: 10px 12px;

    border-radius: 6px;

    color: #e74c3c;

    font-size: 13px;

    cursor: pointer;

    text-align: left;

}


.logout-form button:hover {

    background: #fff1f0;

}
.user-account-btn img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
/* =========================================
   TUTORVERSE MOBILE NAVBAR FIX
========================================= */

@media (max-width: 1199px) {

    #navigation .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    #navigation .row {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    /* LOGO */

    #navigation .col-20 {
        width: auto;
        flex: 1;
    }

    .tutorverse-logo-image {
        width: 150px;
        height: auto;
        display: block;
    }

    /* HIDE DESKTOP MENU */

    #navigation .col-60 {
        display: none !important;
    }

    /* HIDE DESKTOP ACCOUNT */

    #navigation .col-20.d-none.d-xl-block {
        display: none !important;
    }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 767px) {

    .tutorverse-logo-image {
        width: 135px;
    }

    #navigation {
        min-height: 75px;
    }

}


/* =========================================
   SMALL PHONES
========================================= */

@media (max-width: 480px) {

    .tutorverse-logo-image {
        width: 125px;
    }

}
</style>
<script>

function toggleUserMenu() {

    const menu =
        document.getElementById("userAccountMenu");

    if (menu) {

        menu.classList.toggle("show");

    }

}


document.addEventListener("click", function(event) {

    const account =
        document.querySelector(".user-account");

    const menu =
        document.getElementById("userAccountMenu");

    if (
        account &&
        menu &&
        !account.contains(event.target)
    ) {

        menu.classList.remove("show");

    }

});

</script>